:root {
  --red-color: #9a3333;
}

.red-color {
  color: var(--red-color);
}

.bg-red-color {
  background-color: var(--red-color);
}

.py-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.md-btn {
  padding: 10px 58.5px;
}

ul li {
  font-weight: 500;
}

.nav-pad {
  padding-left: 190px;
}
